<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<script src="../../bower_components/angular/angular.js"></script>
<script>
angular.module('myApp', []);

angular
	.module('myApp')
	.controller('FirstController', FirstController)
	.controller('SecondController', SecondController);

function FirstController($scope) {
	$scope.rebel = 'Luke Skywalker';
}

function SecondController() {
	this.rebel = 'Ben Kenobi';
}

</script>
</head>
<body>

<div ng-controller="FirstController">
	<input type="text" ng-model="rebel" /> : {{rebel}}
</div>

<div ng-controller="SecondController as secondCtrl">
	<input type="text" ng-model="secondCtrl.rebel" /> : {{secondCtrl.rebel}}
</div>

</body>
</html>