<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
</head>
<body>

<div ng-init="rebels = [
 {name: 'Luke Skywalker', profession: 'Jedi', weapon: 'lightsaber', age: 19 },
 {name: 'Ben Kenobi', profession: 'Jedi', weapon: 'lightsaber', age:  56},
 {name: 'Han Solo', profession: 'smuggler', weapon: 'laser blaster', age: 32 },
 {name: 'Chewbacca', profession: 'pilot', weapon: 'bowcaster' , age: 200},
];">


	<div>
		Search:
		<input type="text" ng-model="searchText[option]" ng-disabled="!option">
	</div>

	<div>
		<input type="radio" name="r" ng-model="option" value="$"> Free text
		<input type="radio" name="r" ng-model="option" value="name"> Name
		<input type="radio" name="r" ng-model="option" value="weapon"> Weapon
	</div>

	<div>
		<input type="button" ng-click="searchText = {}" value="reset" />
	</div>

	<ul>
		<li ng-repeat="rebel in rebels | filter: searchText">
			{{ rebel.name }} (age: {{ rebel.age}})
			is a {{ rebel.profession }} fighting with a {{ rebel.weapon }}.
		</li>
	</ul>

</div>

<script src="../../bower_components/angular/angular.js"></script>
</body>
</html>
